<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500 - Internal Error</title>

<%- include('../_partials/commonCssHeaders.ejs') -%>
</head>
<body>
<div class="container">
    <%- include('../_partials/header.ejs', {user: user}) -%>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-8">
            <h1 class="display-1"><u>500</u></h1>
            <h2 class="display-3">We are truly sorry! 😞</h2>
            <p>It's not your problem. It's us. </p>
        </div>
    </div>

</div>

<%- include('../_partials/footer.ejs') -%>

<%- include('../_partials/commonJsScripts.ejs') -%>
</body>
</html>